body {
  margin: 0;
  text-align: center;
  backgroung-color: #c3e6fc;  
}
h1 {
  margin-top: 0;
}
.pro {
  text-decoration: underline;
}
.container { 
  }
.top-container {
  position:relative;
}
.bottom-cloud {
  position:absolute;
  
}
.mountain {
  margin: auto auto 0 auto;
  
}
